img {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(102, 102, 102, 1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(102, 102, 102, 1);
	box-shadow: 0px 0px 15px 0px rgba(102, 102, 102, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
