main, footer {
	a:not(.post-link):not(.u-url) {
		border-bottom: 4px solid #f6993f;
		border-radius: 0.25em;
		color: #1c3d5a;
		display: inline-block;
		margin: 0.25em 0;
		padding: 0.25em;
		text-decoration: none;

		&:visited {
			background: #ffffff;
			color: #1c3d5a;
		}

		&:hover {
			color: #ffffff;
			background: #1c3d5a;
		}
	}
}
